@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');


.about {
  display: flex;
  align-items: center;
  padding: 30px; /* 50px */
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  margin: 5px 0; /* 20px */
}

.about-img {
  flex: 1;
  margin-right: 30px;
}

.about-img img {
  width: 814px;
  height: 100%;
}

.about-content {
  flex: 2;
}

.about-label {
  font-size: 1.3rem;
  color: #282938;
  margin-bottom: 5px;
}

.about-content h4 {
  font-size: 2.3rem;
  color: #282938;
  margin-bottom: 18px;
}

.about-description {
  font-size: 1.5rem;
  color: #1C1E53;
  line-height: 1.6;
}


